body {
    background-image: url("bilder/stone.png");
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Footer */
footer {
    overflow: hidden;
    background-color: black;
    position: fixed;
    height: 6%;
    bottom: 0;
    width: 100%;
    margin-left: -0.5%;
}

#countdown {
    font-size: 2em;
    margin-top: 0.3em;
    color: #EF9529;
    text-align: center;
}

/* Skjema */
.skjema {
    font-size: 1em;
    color:  rgb(255,255,255);    
}
.skjema legend {
    color: #EF9529;
    font-size: 2em;
}
.skjema input {
    margin-bottom: 0.5em;
}
.skjema select {
    padding: 0.2%;
}
.boxapp {
    overflow: hidden;
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    margin: 18%;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2em;
    border: hidden;
}
.boxapp p {
    text-align: center;
    color: #EF9529;
    font-size: 4em;
    font-weight: 200;
    padding-bottom: 2%;
}
#btn {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
    border-color: white;
    background-color: black;
    color: #EF9529;
    font-size: 1em;
    padding: 1em;
}