body {
    margin: 0;
	background-color: #000000;
    font-family: Verdana, Geneva, sans-serif;
}

p{
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-item {
    flex: 1;
}

.header {
    padding: 5px;
    background-color: #C0C0C0;
    overflow: hidden;
}

.header-item {
    margin: 5px;
}

.header-item.logo {
    flex: 0 0 100px;
    text-align: center;
}

.header-logo {
    width: 100px;
}

.header-text {
    color: #000000;
    font-size: 3rem;
    font-family: Indie Flower;
}

.navbar {
    background-color: #C0C0C0;
    box-shadow: 0 4px 2px -2px rgba(211,211,211,0.6);
}

.navbar-item {
    text-align: center;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.navbar-item:last-child {
    border-right: 0;
}

.navbar-item:hover {
    border-bottom: 2px solid #000000;
    background-color: #B22222;
}

.border {
    border: 1px solid red;
}

.content {
	width: 100%;
    padding: 20px 5%;
    box-sizing: border-box;
}

.article {
    background-color: white;
    padding: 20px 5%;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .article-row {
        flex-direction: column;
    }
}

.footer {
    padding: 40px 10%;
    background-color: #fff;
    border-top: 2px solid #d3d3d3;
}
.flex-foot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.footer-row {
    align-items: baseline;
}
